BOT_TOKEN=
STORAGE_CHANNEL_ID=
FORCE_CHANNEL=
FB_EMAIL=
FB_PASSWORD=
IG_USERNAME=
IG_PASSWORD=
FB_IMAGE=upload image on storage channel and copy paste id here
IG_IMAGE=upload image on storage channel and copy paste id here
